<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Select project</h4>
        </div>
        <div class="modal-body nopadding" data-ng-controller="projectsCtrl">
            <div id="dataTables">
                <div class="table-header" style="">
                    <div class="dataTables_filter">
                        <form class="input-prepend form-search pull-right">
                            <label><b>Search project:</b></label><input class="span2" ng-model="search" type="text" placeholder="Project">
                        </form>
                    </div>
                </div>
                <table cellpadding="0" cellspacing="0" border="0" class="dTable-small responsive dataTable">
                    <thead>
                    <tr role="row">
                        <th role="columnheader" tabindex="0" rowspan="1" colspan="1">
                            <div>name</div>
                        </th>
                        <th role="columnheader" tabindex="1" rowspan="1" colspan="1">
                            <div>display name</div>
                        </th>
                        <th role="columnheader" ng-repeat="source in sources" rowspan="1" colspan="1">
                            <div>{{source.name}}</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr data-ng-repeat="project in projects | filter:search">
                        <td><a href="#/projects/{{project.id}}/overview" modal="#project-selector" ng-click="selectProject(project)">{{project.name}}</a></td>
                        <td class="center"><a href="#/projects/{{project.id}}/overview" modal="#project-selector" ng-click="selectProject(project)">{{project.displayName}}</a></td>
                        <td class="center" ng-repeat="source in sources">
                            <i ng-class="{'icon-ok status-success': hasSource(project, source), 'icon-remove status-error': !hasSource(project, source)}"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button modal="#project-selector" class="btn btn-default">Close</button>
        </div>
    </div>
</div>
