<div class="row-fluid" data-ng-controller="sonarCtrl" data-ng-show="hasSource('sonar')">
    <div class="box" data-ng-controller="sonarCtrl">
        <div class="box-header">
            <div class="title">Code quality</div>
            <ul class="box-toolbar">
                <li data-ng-hide="online"><span class="btn btn-xs btn-red">offline</span></li>
            </ul>


            <ul class="nav nav-tabs nav-tabs-right">
                <li ng-class="{active: codeQualityView() === 'overview'}"><a
                        ng-click="selectCodeQualityTab('overview')" data-toggle="tab"><i class="icon-home"></i></a>
                </li>
                <li ng-class="{active: codeQualityView() === 'details'}"><a
                        ng-click="selectCodeQualityTab('details')" data-toggle="tab"><i class="icon-zoom-in"></i>
                    <span>Details</span></a></li>
            </ul>

        </div>

        <div class="box-content padded" data-ng-show="online" refresh="{{configuration('refreshTimeout')}}">
            <div class="tab-content">
                <div class="tab-pane" ng-class="{active: codeQualityView() === 'overview'}"
                     style="text-align: center">
                    <just-gage class="justgage" ng-repeat="gauge in qualityGauges" identifier="gauge.identifier"
                               title="gauge.title" width-scale="gauge.widthScale" value="gauge.value" min="gauge.min"
                               max="gauge.max" level-colors="gauge.levelColors"
                               style="width:120px; height:80px"></just-gage>
                </div>
                <div class="tab-pane" ng-class="{active: codeQualityView() === 'details'}">
                    <div class="row">
                    <div class="col-md-3">
                        <div class="box">
                            <div class="box-header">
                                <div class="title">Unit test</div>
                            </div>
                            <div class="box-content table-responsive">
                                <datatable config="unitTestConfig" class="table table-normal"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box">
                            <div class="box-header">
                                <div class="title">Rules compliance</div>
                            </div>
                            <div class="box-content table-responsive">
                                <datatable config="rulesComplianceConfig" class="table table-normal"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box">
                            <div class="box-header">
                                <div class="title">Technical debt</div>
                            </div>
                            <div class="box-content table-responsive">
                                <datatable config="technicalDebtConfig" class="table table-normal"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box">
                            <div class="box-header">
                                <div class="title">Project details</div>
                            </div>
                            <div class="box-content table-responsive">
                                <datatable config="projectDetailConfig" class="table table-normal"/>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>