<table>
    <thead ng-show="config.headers.length > 0">
        <tr>
            <td ng-repeat="header in config.headers" colspan="{{ header.colspan }}">
                {{ header.description }}
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in config.rows">
            <td ng-repeat="column in config.columns" class="{{ column.className }}"
                colspan="{{config.headers[$index].colspan}}">
                <datatable-cell template="column.template" config="config" row="row"/>
            </td>
        </tr>
    </tbody>
</table>