<div class="box" data-ng-controller="serviceStatusCtrl">
    <div class="box-header">
        <div class="title">Statuses</div>
    </div>
    <div class="box-content">
        <datatable config="statusesConfig" class="table table-normal"/>
    </div>
</div>

