@import "mixin_helpers";

@mixin alert-box($color) {
  border: 1px solid lighten($color, 35);
  color: $color;
  @include std-bg(lighten($color, 50), lighten($color, 45));
  @include box-shadow(0 1px 2px lighten($color, 53) inset, 0 1px 1px #dfdfdf);
}

.alert {
  @include alert-box(#a37f11);
}

.alert-info {
  @include alert-box(#3c6a95);
}

.alert-danger, .alert-error {
  @include alert-box(#7d2a1c);
}

.alert-success {
  @include alert-box(#2b3a0d);
}