@import "mixin_helpers";

.navbar-static-top .navbar-collapse {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar {
  margin-bottom: 0;
}

.navbar-toggle i {
  color: #fff;
}

.navbar-nav > li > a {
  &.dropdown-avatar {
    position: relative;
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: 600;

    .badge {
      position: absolute;
      top: 5px;
      left: 7px;
    }
  }
}

.navbar-inverse {
  border-bottom: 1px solid rgba(10, 13, 14, 0.8);
  @include std-bg(lighten(#11161A, 5), #11161A);
  border-left: 0;
  border-right: 0;
}

.navbar-inverse .nav > li.cdrop {

  margin-top: 13px;

  > a {
    background: rgba(0,0,0,.5);
    @include border-radius(4px);
    @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15));
    padding: 3px 10px;
    margin-right: 10px;
    line-height: 20px;
    height: 24px;

    &:hover {
      background: rgba(0,0,0,.8);
    }
  }

  &.active > a {
    @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15));
  }
}

.primary-sidebar .navbar-collapse {
  max-height: 9999px;
}

.primary-sidebar .nav {
  position: relative;
  padding: 0;
}

.navbar-nav > li > .dropdown-menu {
  border-radius: $border-radius-base;

  > li > a {
    white-space: normal;
  }
}