<div ng-include="'partials/navigation.html'"></div>
<div ng-include="'partials/sidebar.html'"></div>
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="area-top clearfix">
                <div class="pull-left header">
                    <h3 class="title">
                        <i class="icon-external-link"></i>
                        User
                    </h3>
                    <h5>editor</h5>
                </div>
                <div class="pull-left header"></div>
            </div>
        </div>
    </div>
    <div class="container padded">
        <div class="row">
            <div class="col-sm-3">
                <ng:include src="'partials/user/users.html'"></ng:include>
            </div>
            <div class="col-sm-9">
                <div class="box">
                    <div class="box-header">
                        <div class="title">User - <span class="highlight">{{user.firstName}} {{user.lastName}}</span></div>
                    </div>
                    <div class="box-content">
                        <form name="userForm" class="form-horizontal fill-up">
                            <div class="padded">
                                <control-group label="Username" id="username">
                                    <div class="col-sm-11">
                                        <input type="text" name="username" id="username" ng-model="user.username" required ng-disabled="user.id" unique="uniqueUser()">
                                        <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="userForm.username.$dirty && userForm.username.$invalid">
                                            <div class="formErrorContent" ng-show="userForm.username.$error.required">* Username is required.<br></div>
                                            <div class="formErrorContent" ng-show="userForm.username.$error.unique">* This username is already in use<br></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <state-icon config='stateConfig' state='userForm.username.$valid'/>
                                    </div>
                                </control-group>

                                <control-group label="Given name" id="firstName">
                                    <div class="col-sm-11">
                                        <input type="text" name="firstName" id="firstName" ng-model="user.firstName" required>
                                        <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="userForm.firstName.$dirty && userForm.firstName.$invalid">
                                            <div class="formErrorContent" ng-show="userForm.firstName.$error.required">* Given name is required.<br></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <state-icon config='stateConfig' state='userForm.firstName.$valid'/>
                                    </div>
                                </control-group>

                                <control-group label="Family name" id="lastName">
                                    <div class="col-sm-11">
                                        <input type="text" name="lastName" id="lastName" ng-model="user.lastName" required>
                                        <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="userForm.lastName.$dirty && userForm.lastName.$invalid">
                                            <div class="formErrorContent" ng-show="userForm.lastName.$error.required">* Family name is required.<br></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <state-icon config='stateConfig' state='userForm.firstName.$valid'/>
                                    </div>
                                </control-group>

                                <control-group label="Email address" id="email">
                                    <div class="col-sm-11">
                                        <input type="email" ng-model="user.email" name="email" required/>
                                        <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="userForm.email.$dirty && userForm.email.$invalid">
                                            <div class="formErrorContent" ng-show="userForm.email.$error.required">* Email address is required.<br></div>
                                            <div class="formErrorContent" ng-show="userForm.email.$error.email">* This is not a valid email address.<br></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <state-icon config='stateConfig' state='userForm.email.$valid'/>
                                    </div>
                                </control-group>

                                <control-group label="Password" id="password">
                                    <div class="col-sm-11">
                                        <input type="password" name="password" id="password" ng-model="user.password" required>
                                        <div class="formError" style="opacity: 0.87; position: absolute; top: 0px; left: 15px; margin-top: -23px;" ng-show="userForm.password.$dirty && userForm.password.$invalid">
                                            <div class="formErrorContent" ng-show="userForm.password.$error.required">* Password is required.<br></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1">
                                        <state-icon config='stateConfig' state='userForm.password.$valid'/>
                                    </div>
                                </control-group>


                                <control-group label="Roles" id="admin">
                                    <div class="col-sm-12" style="vertical-align: text-bottom">
                                        <div style="margin-top:5px; margin-left:-4px;">
                                            <input type="checkbox" name="admin" id="admin" ng-model="user.admin" style="width:20px"><label for="admin">administrator</label>
                                        </div>
                                    </div>
                                </control-group>

                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-blue" ng-click="save()"
                                        ng-disabled="isClean() || userForm.$invalid">Save changes
                                </button>
                                <a class="btn btn-default" href="#/settings">Cancel</a>

                                <div class="pull-right">
                                    <div>
                                        <button ng-click="destroy()" ng-show="user.id" class="btn btn-red">Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'partials/footer.html'"></div>