<div class="box" data-ng-controller="usersCtrl">
    <div class="box-header">
        <div class="title">Users</div>
        <ul class="box-toolbar">
            <li><span style="float:right"><a href="#/users/new"><i class="icon-plus-sign"></i></a></span></li>
        </ul>
    </div>
    <div class="box-content table-responsive">
        <datatable config="usersConfig" class="table table-normal"/>
    </div>
</div>
